!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = @title || 'Iceskimo'
    %meta{ :charset => 'utf-8' }
    %meta{ :description => 'Iceskimo Shaved Snow' }
    %meta{ :keywords => 'shaved snow, san diego, san diego shaved snow, shaved ice' }
    %meta{ :property => "og:image", :content => "/images/fb_metaimage.jpg" }
    = stylesheet_link_tag "application-all", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{ :href => '/images/bob_favicon.ico', :rel => 'shortcut icon', :type => 'image/x-icon' }
    = yield :head
  %body
    = yield
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-52219970-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();